/*global*/
body {
    margin: 0;
    height: 100%;
}

/*header/////////////////////////////////////////////////////////////////////////////////////////////////*/
#header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-image: url("http://i.imgur.com/BZDMe7t.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*transition: all 0.2s ease-out 0.1s*/
}

#title {
    /*Move border over to titleinfo*/
    transform: translate(330px, -95px);
    font-family: Tahoma;
    font-size: 50px;
}

#titleBorder {
    transform: translate(260px, -15px);
    border: 1px solid;
    border-width: 6px;
    height: 80px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out 0s;
}

#titleLastName {
    font-weight: bold;
}

#titleInfo {
    /*Make it opacity of 0 then 1 when it hovers over it and transition it*/
    transform: translate(-100%, 0px);
    font-family: Tahoma;
    font-size: 20px;
    opacity: 0;
    transition: all 0.3s ease-out 0s;

}

/*Space between icon and resume*/
span + i {
    margin-left: 20px;
}

.icon {
    margin-top: 6px;
}

#otherIcon {
    margin-top: 18px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ffffcc;
}

#resumeContainer {
    display: flex;
    width: 27%;
    justify-content: center;
    padding-right: 10px;

}

#resumeTab {
    font-size: 50px;
    z-index: 10;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*transition: all 0.2s ease-out 0s;*/
}

#resumeTab:hover {
    color: #ffffcc;
    opacity: 0.9;
}

#alignResumeTab {
    display: flex;
    justify-content: center;
    text-align: center;
}

.resumeBorder {
    border: 1px solid white;
    border-radius: 10px;
    border-width: 3px;
    width: 270px;
    height: 75px;
    margin-left: 20px;
    text-align: center;
    /*transition: all 0.1s ease;*/
}

.resumeBorder:hover {
    /*color: #ffffcc;*/
    border-color: #ffffcc;
    border-width: 4.5px;
}

/*section/////////////////////////////////////////////////////////////////////////////////////////////*/
#projectsContainer {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    align-items: center;
    height: 160px;
}

#redSection {
    display: flex;
    align-items: center;
    height: 600px;
}

.red {
    background-color: rgba(139, 0, 0, 0.8);
}

/*This is all labels besides the resume one*/
.labelContainer {
    display: flex;
    width: 25%;
    justify-content: center;
    padding: 10px;
}

.label {
    color: white;
    font-size: 55px;
    z-index: 20;
}

/*Navigation bar///////////////////////////////////////////////////////////////////////////////////*/
#navBar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(139, 0, 0, 0.4);
    opacity: .99;
    z-index: 10;
    width: 27%;
    height: 140%;
}

#aboutText {
    width: 73%;
    text-align: center;
    color: saddlebrown;
}

.projectsTitle {
    color: #ffdd99;
}

#projectsTab {
    margin-left: 95%;
}

.projectsText {
    width: 73%;
    text-align: left;
    color: black;
}

#otherText {
    width: 73%;
    text-align: center;
    color: saddlebrown;
}
